# Node Dependencies
node_modules/
.npm/

# Environment Variables & Secrets
.env
.env.*
!.env.example
*.local

# Hardhat & Smart Contract Artifacts
cache/
artifacts/
typechain/
typechain-types/

# Testing & Coverage
coverage/
coverage.json
.nyc_output/

# Hardhat Ignition local deployment cache
ignition/deployments/chain-31337

# Uploads & Temp files
backend/public/report.pdf
public/report.pdf
*.tmp
*.temp
uploads/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
